 /* This is the structure for the "About me" HTML,
    but it also acts as basic structure for other HTMLS*/
 body {
    background: #ededed;
  }

  
  header {
    color: #333;
    background:#ffffff;
    border-bottom: solid #cccccc;
    margin-bottom: 25px;
    width: 100%;
    height: 75px;
    text-align: center; 
    display: inline-block;
    
   
  }
   a.directory {
    color: #777777;
    margin-left: 20px;
    

  }

  #myName {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 15px;
    background: #4aaaa5;
    color: #ffffff;
    display: inline-block;
    padding: 20px;
    margin-right:23.5%

  
  
  }
  

  
 
 #outside {
    width: 960px;
    color: #777777;
    border:solid  #dddddd;  
    background: #ffffff;
    margin-left: 20%;
  }
 
  h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    border-bottom: solid #cccccc;
    float: none;
  
  }
  img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;

  }
  #aboutme{

    margin-left: 25px;
    
  }

  .paragraph{
    margin: 25px;
  }
     p {
      font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
      font-size: 12pt;
      text-align: left;
      
      
        }

 footer {
    padding:5px;
    clear: both;
    position:sticky;
    background-color: #666666;
    text-align: center;
    width: 100%;
    margin-top: 750px;
    line-height: 25px;
    }

    /* The "Portfolio" HTML/CSS Section*/

  #box{
    text-align: center;
    padding: 20px;
    background: #4aaaa5;
    color: #ffffff;
  }
  #overlay{
    background-image: url(../images/image1.jpg);
    background-size: contain;
    width: 200px;
    height: 200px;
    float: left;
    
  }
  
  
  #box2{
    text-align: center;
    padding: 20px;
    background: #4aaaa5;
    color: #ffffff;
  }

  #overlay2{
    background-image: url(../images/image2.jpg);
    background-size: contain;
    width: 200px;
    height: 200px;
    float: left;

  }
  #box3{
    text-align: center;
    padding: 20px;
    background: #4aaaa5;
    color: #ffffff;
  }
  #overlay3{
    background-image: url(../images/image3.jpg);
    background-size: contain;
    width: 200px;
    height: 200px;
    float: left;
  }
  #box5{
    text-align: center;
    padding: 20px;   
    background: #4aaaa5;
    color: #ffffff;
  }
  #overlay5{
    background-image: url(../images/image4.jpg);
    background-size: contain;
    width: 200px;
    height: 200px;
    float: left;
  }
  #box4{
    text-align: center;
    padding: 20px;
    background: #4aaaa5;
    color: #ffffff;
  }
  #overlay4{
    background-image: url(../images/image5.jpg);
    background-size: contain;
    width: 200px;
    height: 200px;
    float: left;
  }

  .out-box{
    margin-left:17%;
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
    background: red;
    float: left;
  }

  #outside{
    position: absolute;
  }

  /*Section for Contact Information Page*/


  #aboutme{
    margin-left: 25px;

  }
#outside2{
    width: 960px;
    color: #777777;
    border:solid  #dddddd;  
    background: #ffffff;
    margin-left: 20%;
  }

  h4{
    margin-left: 30px;
    margin-top: 25px;
  }
  #Namebox{
    border: 3px solid #cccccc;
    height: 25px;
    width: 85%;
    margin-left: 30px;  
  }

  #Emailbox{
    border: 3px solid #cccccc;
    height: 25px;
    width: 85%;
    margin-left: 30px; 
  }
  #Messagebox{
    border: 3px solid #cccccc;
    height: 450px;
    width: 85%;
    margin-left: 30px; 
  }

  #footerContact{
    
      padding:5px;
      clear: both;
      position:sticky;
      background-color: #666666;
      text-align: center;
      width: 100%;
      margin-top: 70px;
      line-height: 25px;
      
  }